<a href="https://colab.research.google.com/github/Dandhalf/DACON_contest2022/blob/main/%EB%8D%B0%EC%9D%B4%EC%BD%98_%EC%9D%B8%EA%B5%AC_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EA%B8%B0%EB%B0%98_%EC%86%8C%EB%93%9D_%EC%98%88%EC%B8%A1_%EA%B2%BD%EC%A7%84%EB%8C%80%ED%9A%8C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# chage directory
# zip 파일 압축해제
# %cd "/content/drive/MyDrive/Colab Notebooks"
# !unzip "소득예측경진대회.zip"

https://dining-developer.tistory.com/19 누락값 관련 사이트  
https://dining-developer.tistory.com/27?category=936702 불균형 데이터 처리

---

라이브러리 import

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#데이터 불러오기

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/incomepredict/train.csv")

#데이터 탐색하기

In [ ]:
#from google.colab import drive
#drive.mount('/content/drive')

In [ ]:
df.head(5)

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,0,32,Private,309513,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
1,1,33,Private,205469,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
2,2,46,Private,149949,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
3,3,23,Private,193090,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,0
4,4,55,Private,60193,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,0

In [ ]:
df.tail(5)

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
17475,17475,35,NaN,320084,Bachelors,13,Married-civ-spouse,NaN,Wife,White,Female,0,0,55,United-States,1
17476,17476,30,NaN,33811,Bachelors,13,Never-married,NaN,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,0
17477,17477,71,NaN,287372,Doctorate,16,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,1
17478,17478,41,NaN,202822,HS-grad,9,Separated,NaN,Not-in-family,Black,Female,0,0,32,United-States,0
17479,17479,72,NaN,129912,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,25,United-States,0

In [ ]:
# df.info

In [ ]:
df.workclass.unique()

array(['Private', 'State-gov', 'Local-gov', 'Self-emp-not-inc',
       'Self-emp-inc', 'Federal-gov', 'Without-pay', nan, 'Never-worked'],
      dtype=object)

In [ ]:
# df.describe()

# 누락값 확인

In [ ]:
df.isnull().sum()

id                   0
age                  0
workclass         1836
fnlwgt               0
education            0
education.num        0
marital.status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital.gain         0
capital.loss         0
hours.per.week       0
native.country     583
target               0
dtype: int64

## 누락값을 다빈도 값으로 변환 -> 해당과정 안하기로 함

In [ ]:
df.keys()

Index(['id', 'age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'target'],
      dtype='object')

In [ ]:
columns = ['id', 'age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'target']

In [ ]:
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer( strategy='most_frequent') #'median'을 쓰면 중앙값사용
imp_mean.fit(df)
df_imputed = pd.DataFrame(imp_mean.transform(df))

In [ ]:
df_imputed.columns = columns

In [ ]:
df_imputed.tail()

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
17475,17475,35,Private,320084,Bachelors,13,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,55,United-States,1
17476,17476,30,Private,33811,Bachelors,13,Never-married,Exec-managerial,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,0
17477,17477,71,Private,287372,Doctorate,16,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,10,United-States,1
17478,17478,41,Private,202822,HS-grad,9,Separated,Exec-managerial,Not-in-family,Black,Female,0,0,32,United-States,0
17479,17479,72,Private,129912,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,25,United-States,0

In [ ]:
df_imputed.shape

(17480, 16)

#Never-worked 행 삭제

In [ ]:
index = df_imputed[df_imputed['workclass'] == 'Never-worked'].index
print(index)
# df_imputed2 = df_imputed.drop(index)

Int64Index([15743, 16075, 16320, 16669, 16856, 17459, 17461], dtype='int64')

In [ ]:
df_imputed2 = df_imputed.drop(index, axis = 0)

In [ ]:
df_imputed2.workclass.value_counts()

Private             13404
Self-emp-not-inc     1272
Local-gov            1053
State-gov             659
Self-emp-inc          594
Federal-gov           485
Without-pay             6
Name: workclass, dtype: int64

In [ ]:
a1 = df_imputed2["native.country"].value_counts().keys()
print(a1)

Index(['United-States', 'Mexico', 'Philippines', 'Germany', 'Canada',
       'Puerto-Rico', 'El-Salvador', 'Cuba', 'India', 'England', 'Jamaica',
       'China', 'South', 'Italy', 'Dominican-Republic', 'Columbia',
       'Guatemala', 'Poland', 'Japan', 'Vietnam', 'Taiwan', 'Haiti',
       'Nicaragua', 'Portugal', 'Ecuador', 'Ireland', 'Iran', 'Peru', 'France',
       'Greece', 'Cambodia', 'Laos', 'Trinadad&Tobago', 'Hong', 'Yugoslavia',
       'Hungary', 'Honduras', 'Outlying-US(Guam-USVI-etc)', 'Scotland',
       'Thailand', 'Holand-Netherlands'],
      dtype='object')

#'Holand-Netherlands' 삭제

In [ ]:
index2 = df_imputed2[df_imputed2["native.country"] == 'Holand-Netherlands'].index
df_imputed3 = df_imputed2.drop(index2, axis = 0)

In [ ]:
df_imputed3.head()

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,target
0,0,32,Private,309513,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
1,1,33,Private,205469,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,1
2,2,46,Private,149949,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,0
3,3,23,Private,193090,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,0
4,4,55,Private,60193,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,0

# imputed 누락값 보간없이 위의 값 삭제한 데이터 셋

In [ ]:
index = df[df['workclass'] == 'Never-worked'].index
# print(index)
df2 = df.drop(index)
index2 = df2[df2["native.country"] == 'Holand-Netherlands'].index
df3 = df2.drop(index2, axis = 0)

In [ ]:
# df.hist(figsize = [15,10])

In [ ]:
df["marital.status"].unique()

array(['Married-civ-spouse', 'Never-married', 'Divorced', 'Separated',
       'Married-AF-spouse', 'Married-spouse-absent', 'Widowed'],
      dtype=object)

In [ ]:
df.keys()

Index(['id', 'age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country',
       'target'],
      dtype='object')

#훈련데이터와 테스트 데이터 나눔

In [ ]:
# X = df_imputed3.drop(["id","target"], axis = 1)
# y = df_imputed3["target"]

In [ ]:
X = df3.drop(["id","target"], axis = 1)
y = df3["target"]

요인변수(factor variable) 더미 변수(dummy)로 변환

# one-Hot encoding

In [ ]:
# df.workclass.value_counts()

Private             11568
Self-emp-not-inc     1272
Local-gov            1053
State-gov             659
Self-emp-inc          594
Federal-gov           485
Never-worked            7
Without-pay             6
Name: workclass, dtype: int64

In [ ]:
# from sklearn.preprocessing import OneHotEncoder
# from sklearn.compose import ColumnTransformer
# X_values = X[['age', 'workclass', 'fnlwgt', 'education', 'education.num',
#        'marital.status', 'occupation', 'relationship', 'race', 'sex',
#        'capital.gain', 'capital.loss', 'hours.per.week', 'native.country']].values

In [ ]:
# c_transf = ColumnTransformer([('onehot', OneHotEncoder(),[1,3,5,6,7,8,9,13] ),
#                 ('nothing', 'passthrough', [0,2,4,10,11,12])])
# X = pd.DataFrame(c_transf.fit_transform(X_values))

# OneHotEncoder 대신 Pandas get_dummies 사용

In [ ]:
X = pd.get_dummies(X[['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country']],
       columns = ['workclass', 'education', 'marital.status', 'occupation', 
                'relationship', 'race', 'sex','native.country'], drop_first = True)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 2022)

In [ ]:
X_train.head()

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,workclass_Federal-gov,workclass_Local-gov,workclass_Private,workclass_Self-emp-inc,...,native.country_Portugal,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia
1973,43,151089,9,0,0,50,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
17319,17,48703,7,0,0,30,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
15505,23,243190,10,0,0,20,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5149,32,270335,13,0,0,40,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
11099,52,173754,15,15024,0,60,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

# 상관관계 조사
특별한 경향성 찾지 못함

In [ ]:
corr_matrix = df.corr()

In [ ]:
corr_matrix["target"].sort_values(ascending=False)

target            1.000000
education.num     0.339855
hours.per.week    0.236090
age               0.228554
capital.gain      0.225092
capital.loss      0.153856
fnlwgt           -0.006451
id               -0.059160
Name: target, dtype: float64

In [ ]:
#from pandas.plotting import scatter_matrix
#attributes = ["target", "education.num", "hours.per.week","age", "capital.gain", "capital.loss", "fnlwgt"]
#scatter_matrix(df[attributes], figsize = (15,12))

#모델 형성
##모델 그레디언트 부스팅 회귀 트리

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
gbrt = GradientBoostingClassifier(random_state = 2, max_depth = 2)
gbrt.fit(X_train, y_train)

GradientBoostingClassifier(max_depth=2, random_state=2)

In [ ]:
print("훈련 세트 데이터 정확도 : {:.3f}".format(gbrt.score(X_train, y_train)))
print("테스트 세트 데이터 정확도 : {:.3f}".format(gbrt.score(X_test, y_test)))

훈련 세트 데이터 정확도 : 0.865
테스트 세트 데이터 정확도 : 0.854

#최적 모델 찾기

In [ ]:
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import GridSearchCV

In [ ]:
pipe_gbrt = make_pipeline(GradientBoostingClassifier())

In [ ]:
pipe_gbrt.get_params().keys()

dict_keys(['memory', 'steps', 'verbose', 'gradientboostingclassifier', 'gradientboostingclassifier__ccp_alpha', 'gradientboostingclassifier__criterion', 'gradientboostingclassifier__init', 'gradientboostingclassifier__learning_rate', 'gradientboostingclassifier__loss', 'gradientboostingclassifier__max_depth', 'gradientboostingclassifier__max_features', 'gradientboostingclassifier__max_leaf_nodes', 'gradientboostingclassifier__min_impurity_decrease', 'gradientboostingclassifier__min_samples_leaf', 'gradientboostingclassifier__min_samples_split', 'gradientboostingclassifier__min_weight_fraction_leaf', 'gradientboostingclassifier__n_estimators', 'gradientboostingclassifier__n_iter_no_change', 'gradientboostingclassifier__random_state', 'gradientboostingclassifier__subsample', 'gradientboostingclassifier__tol', 'gradientboostingclassifier__validation_fraction', 'gradientboostingclassifier__verbose', 'gradientboostingclassifier__warm_start'])

In [ ]:
param_range1 = [500,700,900]
param_range2 = [0.1]
param_range3 = [3]

param_grid = [{'gradientboostingclassifier__n_estimators' : param_range1,
               'gradientboostingclassifier__learning_rate' : param_range2,
               'gradientboostingclassifier__max_depth' : param_range3}]

In [ ]:
gs = GridSearchCV(estimator = pipe_gbrt,
                  param_grid = param_grid,
                  scoring = 'accuracy',
                  cv = 10)
gs = gs.fit(X_train, y_train)
print(gs.best_score_)
print(gs.best_params_)

0.8739359735709977
{'gradientboostingclassifier__learning_rate': 0.1, 'gradientboostingclassifier__max_depth': 3, 'gradientboostingclassifier__n_estimators': 500}

In [ ]:
best_gbrt = gs.best_estimator_
best_gbrt.fit(X_train, y_train)

print("훈련 세트 데이터 정확도 : {:.3f}".format(best_gbrt.score(X_train, y_train)))
print("테스트 세트 데이터 정확도 : {:.3f}".format(best_gbrt.score(X_test, y_test)))

훈련 세트 데이터 정확도 : 0.898
테스트 세트 데이터 정확도 : 0.862

In [ ]:
X.shape

(17472, 95)

#최종 test

In [ ]:
final_test = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/incomepredict/test.csv")

In [ ]:
final_test.head()

,id,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country
0,0,47,Private,304133,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States
1,1,34,Self-emp-inc,154227,Some-college,10,Never-married,Sales,Not-in-family,White,Male,0,0,75,United-States
2,2,31,Local-gov,158291,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,8614,0,40,United-States
3,3,28,Private,183155,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,55,United-States
4,4,54,Local-gov,182543,Some-college,10,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,Mexico

In [ ]:
final_id = final_test['id']
final_id.head()

0    0
1    1
2    2
3    3
4    4
Name: id, dtype: int64

#final_test 전처리

In [ ]:
final_test.keys()

Index(['id', 'age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country'],
      dtype='object')

In [ ]:
final_test = final_test.drop(["id"], axis = 1)

In [ ]:
final_test = pd.get_dummies(final_test[['age', 'workclass', 'fnlwgt', 'education', 'education.num',
       'marital.status', 'occupation', 'relationship', 'race', 'sex',
       'capital.gain', 'capital.loss', 'hours.per.week', 'native.country']],
       columns = ['workclass', 'education', 'marital.status', 'occupation', 
                'relationship', 'race', 'sex','native.country'],drop_first = True)

In [ ]:
final_test.shape

(15081, 95)

In [ ]:
submission_predictions = best_gbrt.predict(final_test)

# format csv as specified in competition discription  
https://datascience.stackexchange.com/questions/18956/different-number-of-features-in-train-vs-test  
train set과 test set variable이 다를 때 어떻게 하나?

In [ ]:
prediction_file = pd.DataFrame({'id' : final_id,
                               'target' : submission_predictions})
prediction_file.head(10)

   id  target
0   0       1
1   1       0
2   2       1
3   3       1
4   4       0
5   5       0
6   6       0
7   7       0
8   8       0
9   9       0

In [ ]:
prediction_file.to_csv('prediction_file.csv', index = False)

# github에 올리기

In [169]:
git remote add origin https://github.com/Dandhalf/DACON_contest2022.git
git push -u origin main

SyntaxError: ignored